#impact-investing-timeline {
  border: none;
  height: 700px;
}

@media (screen and max-width: 686px) {
  #impact-investing-timeline {
    height: 1100px;
  }

  #social-share-box .social-share-box {
    display: none;
  }
}
